<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Info</title>
</head>
<body style="text-align: center;">
  <h1>Información obtenida del archivo: {{ filename }}</h1>
  <img src="{{ url_for('static', filename=source) }}" alt="Mapa Generado">
  <br>
  <textarea style="width: 90vw;height: calc(50vh);" name="info_json" id="textarea" type="text">{{ info_json }}</textarea>
</body>
</html>